:root {
    --noir: #1B2021;
    --blanc: #FAFAFA;
    --blanc-kc: #EFF7E5;
    --gris: #414141;
    --vert: #77AD31;
    --vert-2:#a0cb68e4;
    --verthover: #88C539;
    --vert-f:#567A26;
    --border: #ACE65F;
    --vert-clair: #E6FAAF;
}

::selection {
    background-color: var(--vert);
    color: var(--gris);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* DISPLAY NONE */
.bandeau-photo, 
.container-nav, 
.container-footer {
    display: none;
}

/* ---- HEADER MOBILE & TABLETTE ---- */
.nav-h-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--vert);
    padding: 10px;
    color: var(--blanc);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    z-index: 1000;
}

.nav-h-mob i {
    font-size: 2.2rem;
    cursor: pointer;
    background-color: var(--vert);
    color: var(--gris);
}

.nav-h-btn, 
.nav-h-btn-profil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.nav-h-mob p, 
.nav-h-btn-profil p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

/*Menu déroulant - Profil*/
.profil-mob-deroulant {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 1rem;
    text-align: left;
    background-color: var(--vert);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 650;
    border-radius: 1rem;
    border: solid 2px var(--gris);
}

.mob-deroulage {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mob-deroulage a {
    display: block;
    text-decoration: none;
    color: var(--gris);
}
.mob-deroulage a:hover {
    text-decoration: none;
    color: var(--gris);
}

.mob-deroulage li {
    padding: 1rem 0;
    border-bottom: solid 2px var(--gris);
}

.mob-deroulage li:last-child {
    border-bottom: none;
}

/* ---- NAVIGATEUR BAS MOBILE & TABLETTE ---- */
.nav-b-mob {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--vert);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

.nav-b-mob i {
    font-size: 2.2rem;
    color: var(--gris);
    cursor: pointer;
}

.nav-b-btn {
    border: none;
    background-color: var(--vert);
}

/* BODY */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 3rem;
    width: 100%;
}

.retour {
    width: 50%;
    align-self: center;
    text-align: center;
    background-color: var(--vert);
    border: none;
    border-radius: 0.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.2rem;
}

.retour a {
    text-decoration: none;
    color: var(--vert-clair);
}

.retour a:hover {
    text-decoration: none;
    color: var(--vert-clair);
}

.trajet-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trajet-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.trajet-form h2 {
    color: var(--vert);
    text-align: center;
    margin: 15px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}

/*Partie gauche */

.form-partie-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 2rem;
}

.depart-zone, .arrivee-zone {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

.form-partie-1 label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--gris);
    font-weight: 650;
}

.form-partie-1 input {
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: 1px solid var(--vert);
    width: 60%;
}

/* -- CARTE* -- */
.carte {
    min-width: 100%;
    height: 300px;
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid #9c9999;
}

/* Style d l'autocomplétion*/
.suggestions-list {
    max-width: 100%;
    border: 1px solid var(--noir);
    border-radius: 5px;
    background-color: var(--blanc);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .suggestions-list div {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions-list div:hover {
    background-color: var(--vert);
    color: var(--blanc);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


.cadre-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1rem;
}

.searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 1.9rem;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 20px;
    border: 1px solid var(--vert);
    border-radius: 5px;
    color: var(--blanc);
    background-color: var(--vert);
}

/*Partie droite */

.form-partie-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 95%;
    padding: 2rem;
}

.date-zone, .heure-zone,
.place-dispo-zone, .prix-zone,
.option-zone, .commentaire-zone,
.marque-zone, .modele-zone, 
.energie-zone, .couleur-zone {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.form-partie-2 label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(-gris);
    font-weight: 650;
}

.form-partie-2 input {
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: 1px solid var(--vert);
    width: 60%;
}

fieldset {
    padding: 0.9rem;
}

legend {
    padding: 0.8rem;
}

input[type="checkbox"] {
    accent-color: var(--vert);
}

textarea {
    padding: 0.5rem;
    border: 1px solid var(--vert);
    color: var(-gris);
    border-radius: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea:focus {
    outline: none;
    border: 2px solid var(--vert);
}

.cadre-btn-proposer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    width: 100%;
}

.btn-proposer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 1.9rem;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 20px;
    border: 1px solid var(--vert);
    border-radius: 5px;
    color: var(--blanc);
    background-color: var(--vert);
}

.mes-trajets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 6rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mes-trajets h3 {
    color: rgbvar(--vert);
}

.cadre-mes-propositions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: solid 2px var(--blanc);
    border-radius: 3rem;
    margin: 1rem;
    padding: 1rem;
}

.proposition-1, .proposition-2,
.proposition-3 {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.proposition-1 p, .proposition-2 p,
.proposition-3  {
    color: var(--gris);
}

.proposition-1 p b, .proposition-2 p b,
.proposition-3 p b {
    color: var(--vert);
}

.btn-bas-propo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn-modifier,
.btn-supprimer,
.btn-covoiturage  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 1.9rem;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 20px;
    border: 1px solid var(--vert);
    border-radius: 5px;
    color: var(--blanc);
    background-color: var(--vert);
}

/* MEDIA QUERY */

@media (min-width: 1024px ) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: var(--blanc);
        overflow-x: hidden;
    }

    .nav-h-mob,
    .nav-b-mob {
        display: none;
    }

    /* ---- NAVIGATEUR WEB ---- */
    .nav-web {
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        position: fixed;
        width: 100%;
        height: 150px;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .nav-web i {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-web-btn, .nav-web-btn-profil {
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 10px 15px;
        color: var(--blanc);
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
    }

    .nav-web-btn i, .nav-web-btn-profil i {
        font-size: 40px;
    }

    .container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        margin-top: 0.2rem;
        width: 100%;
        height: 15%;
        background-color: var(--vert);
    }

    .logo-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: var(--blanc);
        margin-left: 4rem;
    }

    .logo img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        border-radius: 55px;
    }

    .text-titre {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 1.5rem;
        color: var(--blanc);
        margin-bottom: 0;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

/*liens barre de navigation*/ 
    .lien-nav {
        display: flex;
        list-style: none;
        width: 60%;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        margin: 0; 
    }

    .accueil {
        position: relative;
    }

    .accueil, .trajet,
    .connexion, .contact {
        display: flex;
        justify-content: center;
        width: 12rem;
        gap: 1rem;
    }

    .accueil a, .trajet  a,
    .connexion a, .contact a,
    .autre {
        position: relative;
        color: var(--blanc);
        text-decoration: none;
        font-size: 1.3rem;
        margin-bottom: 0;
        cursor: pointer;
    } 

    .accueil a:hover, .trajet a:hover,
    .connexion a:hover, .contact a:hover,
    .autre:hover {
        text-decoration: none;
        color: var(--vert-clair);
    }

/* Soulignement */ 
    .souligne {
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: var(--vert-clair);
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .lien-nav li:hover .souligne {
        width: 100%;
        left: 0;
    }

    .deroulant-services {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 1rem;
        background-color: var(--vert);
        border-radius: 1rem;
        border: solid 2px var(--gris);
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: opacity 0.7s ease, transform 0.3s ease;
    }

    .accueil:hover .deroulant-services {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .deroulage-services a {
        display: block;
        text-decoration: none;
        color: var(--blanc-kc);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .deroulage-services a:hover {
        text-decoration: none;
        color: var(--vert-clair);
    }

    .deroulage-services li {
        list-style: none;
        padding: .7rem 0;
        border-bottom: 2px solid var(--gris);
    }

    .deroulage-services li:last-child {
        border-bottom: none;
    }

    .accueil:hover .deroulant-services {
        display: block;
    }

    .bandeau-photo {
        display: flex;
        justify-content: center;
        background-color: var(--blanc);
        padding-top: 0.3rem;
        margin: 0;
        padding: 0;
    }

    .img-bandeau img {
        width: 100vw;
        max-height: 400px;
        object-fit: cover; /* Coupe propre les images si besoin */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

/* MAIN */
    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2rem;
        background-color: var(--blanc);
    }

    .main-container a {
        display: inline-block;
        padding: .5rem 1rem;
        margin: .4rem;
        border-radius: 1.1rem;
        background-image: linear-gradient(to right, var(--vert-clair), var(--vert-clair));
        background-size: 0% 100%;
        background-repeat: no-repeat;
        background-position: left center;
        background-color: var(--vert);
        color: var(--vert-clair);
        text-decoration: none;
        transition: background-size .7s ease-in-out, color .7s ease-in-out;
    }

    .main-container a:hover {
        background-size: 100% 100%;
        color: var(--gris);
        text-decoration: none;
    }

    .searchBtn,
    .btn-proposer {
        display: inline-block;
        padding: .5rem 1rem;
        margin: .4rem;
        width: 60%;
        height: auto;
        border-radius: .5em;
        border: 1px solid var(--vert);
        background-image: linear-gradient(to right, var(--vert-clair), var(--vert-clair));
        background-size: 0% 100%;
        background-repeat: no-repeat;
        background-position: left center;
        background-color: var(--vert);
        color: var(--vert-clair);
        text-decoration: none;
        transition: background-size .7s ease-in-out, color .7s ease-in-out;
    }

    .searchBtn:hover,
    .btn-proposer:hover {
        background-size: 100% 100%;
        color: var(--gris);
        border: 1px solid var(--vert-clair);
    }

    .btn-modifier,
    .btn-supprimer,
    .btn-covoiturage {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem;
        margin: .4rem;
        width: 90%;    
        border-radius: .5em;
        border: 1px solid var(--vert);
        background-image: linear-gradient(to right, var(--vert-clair), var(--vert-clair));
        background-size: 0% 100%;
        background-repeat: no-repeat;
        background-position: left center;
        background-color: var(--vert);
        color: var(--vert-clair);
        text-decoration: none;
        transition: background-size .7s ease-in-out, color .7s ease-in-out;        
    }

    .btn-modifier:hover,
    .btn-supprimer:hover,
    .btn-covoiturage:hover {
        background-size: 100% 100%;
        color: var(--gris);
        border: 1px solid var(--vert-clair);
    } 

    
/* FOOTER */

    .container-footer {
        display: flex;
        justify-content: space-between;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 5rem;
        background-color: var(--vert);
        margin-top: 2rem;
    }

    .all-cadre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100%;
    }

    .cadre-footer-1, .cadre-footer-2, .logo-footer {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        margin: 1rem;
        width: 25%;
        text-align: center;
    }

    .contact-footer li {
        list-style: none;
    }

    .logo-footer img {
        width: 120px;
        height: 120px;
        border-radius: 75px;
        margin: 5px;
    }

    .cadre-footer-1 a {
        color: var(--vert-clair);
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }

    .cadre-footer-1 a:hover {
        transform: scale(1.2);
        text-decoration: none;
        color: var(--vert-clair);
    }

    .cadre-footer-2 li {
        color: var(--vert-clair);
        font-size: 1rem;
    }

    .bi-telephone-fill, .bi-envelope {
        display: inline-block;
        font-size: 1.8rem;
        color: var(--gris);
        transition: transform 0.3s ease;
    }

    .telephone, .mail {
        display: inline-block;
        transition: transform 0.3s ease
    }

    .telephone:hover, .mail:hover {
        transform: scale(1.1);
        font-weight: bold;
    }   
}